{% extends "base-sidebar.html" %}
{% load static %}

{% block css %}
    <!-- third party css -->
    <link href="{% static 'css/dataTables.bootstrap4.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/responsive.bootstrap4.css' %}" rel="stylesheet" type="text/css"/>
    <!-- third party css end -->
{% endblock %}

{% block content %}
    <!-- Start Content-->
    <div class="container-fluid">
        {% include 'base-page-title.html' with title_name='设备维修报表' %}

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table id="AssetBorrowReturn" class="table table-striped dt-responsive nowrap">
                            <thead>
                                <tr>
                                    <th>创建时间</th>
                                    <th>更新时间</th>
                                    <th>关联设备</th>
                                    <th>经办人</th>
                                    <th>备注</th>
                                    <th>审核状态</th>
                                    <th>审批人</th>
                                    <th>审批意见</th>
                                    <th>借出时间</th>
                                    <th>预计归还时间</th>
                                    <th>归还时间</th>
                                </tr>
                            </thead>
                            <tbody>
                                 {% for AssetBorrowReturn in asset_table.all %}
                                    <tr>
                                        <td>{{ AssetBorrowReturn.created_at }}</td>
                                        <td>{{ AssetBorrowReturn.updated_at }}</td>
                                        <td>{{ AssetBorrowReturn.asset }}</td>
                                        <td>{{ AssetBorrowReturn.transactor }}</td>
                                        <td>{{ AssetBorrowReturn.note }}</td>
                                        <td>{{ AssetBorrowReturn.status }}</td>
                                        <td>{{ AssetBorrowReturn.reviewer }}</td>
                                        <td>{{ AssetBorrowReturn.opinion }}</td>
                                        <td>{{ AssetBorrowReturn.borrow_date }}</td>
                                        <td>{{ AssetBorrowReturn.ext_return_date }}</td>
                                        <td>{{ AssetBorrowReturn.return_date }}</td>
                                    </tr>
                                 {% endfor %}
                            </tbody>
                        </table>

                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col -->
        </div>
        <!-- end row-->
    </div> <!-- container -->
{% endblock %}



{% block javascripts %}

{% endblock %}

{% block js-footer %}
    <!-- third party js -->
    <script src="{% static 'javascript/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'javascript/dataTables.bootstrap4.js' %}"></script>
    <script src="{% static 'javascript/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'javascript/responsive.bootstrap4.min.js' %}"></script>
    <!-- third party js ends -->

    <!-- demo app -->
    <script src="{% static 'javascript/arcadia.datatable.js' %}"></script>
    <!-- end demo js-->
    <script src="{% static 'javascript/arcadia.datatable.asset.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // "use strict";
            initDatatable($('#datatable-assets'), "{% url 'asset:index' %}", "{{ csrf_token }}");
        });
    </script>
{% endblock %}
