{% extends 'base-sidebar.html' %}
{% load static %}

{% block content %}
    <!-- Start Content-->
    <div class="container-fluid">
        {% include 'base-page-title.html' with title_name='设备借出' %}
        {% if msg %}
            <div class="alert alert-success" role="alert">
                {{ msg }}
            </div>
        {% endif %}
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                {{ asset_form }}
                            </div>
                            <div class="col-4">
                                {{ asset_sku_form }}
                            </div>
                            <div class="col-4">
                                {{ asset_set_form }}
                            </div>
                        </div> <!-- end row-->
                        {% include 'form-borrow-asset.html' %}
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col -->
        </div>
        <!-- end row-->
    </div> <!-- container -->
{% endblock %}
