{% extends 'base-sidebar.html' %}
{% load static %}

{% block css %}
    <!-- third party css -->
    <link href="{% static 'css/dataTables.bootstrap4.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/responsive.bootstrap4.css' %}" rel="stylesheet" type="text/css"/>
    <!-- third party css end -->
{% endblock %}

{% block content %}
    <!-- Start Content-->
    <div class="container-fluid">
        {% include 'base-page-title.html' with title_name='设备建账' %}
        {% if msg %}
            <div class="alert alert-success" role="alert">
                {{ msg }}
            </div>
        {% endif %}
        <div class="row">
            <div class="col-12">
                <div class="card card-body">
                    <div class="row">
                        <div class="col-lg-8">
                            {% include 'form-create-asset.html' %}
                        </div>
                        <div class="col-lg-4">
                            <a href="{% url 'asset:create' %}" type="button" class="btn btn-info mt-3">
                                <i class="mdi mdi-keyboard-return mr-1"></i> 新建设备（清空）
                            </a>
                            <div class="border p-3 mt-4 rounded">
                                <h4 class="header-title mb-3">基于现有设备新建货格：</h4>
                                <table id="datatable-create-asset" class="table table-striped dt-responsive nowrap">
                                </table>
                            </div>
                            <!-- end table-responsive -->
                        </div> <!-- end .border-->
                    </div> <!-- end col -->
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col -->
    </div>
    <!-- end row-->
{% endblock %}

{% block js-footer %}
    <!-- third party js -->
    <script src="{% static 'javascript/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'javascript/dataTables.bootstrap4.js' %}"></script>
    <script src="{% static 'javascript/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'javascript/responsive.bootstrap4.min.js' %}"></script>
    <!-- third party js ends -->

    <!-- demo app -->
    <script src="{% static 'javascript/arcadia.datatable.js' %}"></script>
    <script src="{% static 'javascript/arcadia.datatable.asset.js' %}"></script>
    <!-- end demo js-->

    <script type="text/javascript">
        $(document).ready(function () {
            initDatatable(
                $('#datatable-create-asset'),
                "{% url 'asset:index' %}",
                "{{ csrf_token }}",
                paging = false,
                searching = false,
            );
        });
    </script>
{% endblock %}
