{% extends 'base-sidebar.html' %}
{% load static %}

{% block content %}
    <!-- Start Content-->
    <div class="container-fluid">
        {% include 'base-page-title.html' with title_name='设备建账' %}

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-8">
                                <form action="{% url 'asset:create' %}" method="post" class="pl-2 pr-2">
                                    {% csrf_token %}
                                    <h4 class="mt-2">设备基本信息</h4>
                                    <p class="text-muted mb-4">您填写的设备基础信息会直接用于生成设备条目，请谨慎填写!</p>
                                    <div class="form-row">
                                        <div class="col-6 mb-3">
                                            {{ asset_form.aid.label_tag | capfirst }}
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">#</span>
                                                </div>
                                                {{ asset_form.aid }}
                                            </div>
                                            {{ asset_form.aid.errors }}
                                        </div>
                                        <div class="col-6 mb-3">
                                            {{ asset_form.name.label_tag | capfirst }}
                                            {{ asset_form.name }}
                                            {{ asset_form.name.errors }}
                                        </div>
                                    </div>
                                    {% for item in asset_form %}
                                        {% if not item.name == "aid" and not item.name == "name" %}
                                            <div class="form-group mb-3">
                                                {{ item.label_tag }}
                                                {{ item }}
                                                {{ item.errors }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}

                                    <h4 class="mt-lg-4">设备建账信息</h4>
                                    <p class="text-muted mb-4">设备建账相关信息</p>
                                    {% for item in asset_creation_form %}
                                        <div class="form-group mb-3">
                                            {{ item.label_tag }}
                                            {{ item }}
                                            {{ item.errors }}
                                        </div>
                                    {% endfor %}
                                    <div class="row mt-4">
                                        <div class="col-sm-6">
                                            <a href="{% url 'asset:index' %}"
                                               class="btn text-muted d-none d-sm-inline-block btn-link font-weight-semibold">
                                                <i class="mdi mdi-arrow-left"></i> 返回台账
                                            </a>
                                        </div> <!-- end col -->
                                        <div class="col-sm-6 text-sm-right">
                                            <button href="#" class="btn btn-danger">
                                                <i class="mdi mdi-truck-fast mr-1"></i> 提交
                                            </button>
                                        </div> <!-- end col -->
                                    </div> <!-- end row -->
                                </form>
                            </div>
                            <div class="col-lg-4">
                                <div class="border p-3 mt-4 mt-lg-0 rounded">
                                    <h4 class="header-title mb-3">Summary</h4>
                                    <div class="table-responsive">
                                        <table class="table table-centered mb-0">
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <img src="{% static 'htmlimg/avatar-3.jpg' %}"
                                                         alt="contact-img" title="contact-img"
                                                         class="rounded mr-2" height="48">
                                                    <p class="m-0 d-inline-block align-middle">
                                                        <a href="https://coderthemes.com/hyper/saas/apps-ecommerce-products-details.html"
                                                           class="text-body font-weight-semibold">Amazing
                                                            Modern Chair</a>
                                                        <br>
                                                        <small>5 x $148.66</small>
                                                    </p>
                                                </td>
                                                <td class="text-right">
                                                    $743.30
                                                </td>
                                            </tr>
                                            <tr class="text-right">
                                                <td>
                                                    <h6 class="m-0">Sub Total:</h6>
                                                </td>
                                                <td class="text-right">
                                                    $1071.29
                                                </td>
                                            </tr>
                                            <tr class="text-right">
                                                <td>
                                                    <h6 class="m-0">Shipping:</h6>
                                                </td>
                                                <td class="text-right">
                                                    FREE
                                                </td>
                                            </tr>
                                            <tr class="text-right">
                                                <td>
                                                    <h5 class="m-0">Total:</h5>
                                                </td>
                                                <td class="text-right font-weight-semibold">
                                                    $1071.29
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- end table-responsive -->
                                </div> <!-- end .border-->

                            </div> <!-- end col -->
                        </div> <!-- end row-->
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col -->
        </div>
        <!-- end row-->
    </div> <!-- container -->


{% endblock %}

{% block js-footer %}
    <script src="{% static 'javascript/vendor.min.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('.nav-item .nav-link:first').click();
        });

        function show_tab(id) {
            $('.tab-pane').removeClass('show active');
            $('#' + id).addClass('show active');
        }

        function submit_asset_info() {

            $('.nav-item :last').click();
        }
    </script>
    <script>
    </script>
{% endblock %}
