{% extends "base-sidebar.html" %}
{% load static %}

{% block content %}
    <!-- Start Content-->
    <div class="container-fluid">
        {% include 'base-page-title.html' with title_name='归还设备' %}
        {% if msg %}
            <div class="alert alert-success" role="alert">
                {{ msg }}
            </div>
        {% endif %}
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <p>选择要合入的设备分组</p>
                        <table class="table table-bordered dt-responsive nowrap">
                            <thead class="thead-light">
                            <tr>
                                <th>ID</th>
                                <th>所在部门</th>
                                <th>详细位置</th>
                                <th>负责人</th>
                                <th>存货量</th>
                                <th>状态</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for asset_set in asset_sets %}
                                <tr {% if asset_set == merging_set %}class="table-success"{% endif %}>
                                    <td>{{ asset_set.id }}</td>
                                    <td>{{ asset_set.department }}</td>
                                    <td>{{ asset_set.address }}</td>
                                    <td>{{ asset_set.manager }}</td>
                                    <td>{{ asset_set.quantity }}</td>
                                    <td>{{ asset_set.status }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div> <!-- end card body-->
                </div> <!-- end card -->
            </div><!-- end col-->
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <form action="" method="post" class="pl-3 pr-3">
                            {% csrf_token %}
                            {% for item in return_form %}
                                <div class="form-group mb-3">
                                    {{ item.label_tag }}
                                    {{ item }}
                                    {{ item.errors }}
                                </div>
                            {% endfor %}
                            {% if error_msg %}
                                <p class="alert alert-warning">{{ error_msg }}</p>
                            {% endif %}
                            <div class="text-center">
                                <button class="btn btn-danger" type="submit">Submit</button>
                            </div>
                        </form>
                    </div> <!-- end card body-->
                </div> <!-- end card -->
            </div><!-- end col-->
        </div>
        <!-- end row-->
    </div> <!-- container -->
{% endblock %}