{% extends 'base-page-card.html' %}
{% load static %}

{% block card-body %}
    <div class="card-body p-4">
        <div class="text-center">
            <h1 class="text-error">4<i class="mdi mdi-emoticon-sad"></i>4</h1>
            <h4 class="text-uppercase text-danger mt-3">Page Not Found</h4>
            <p class="text-muted mt-3">
                It looks like you may have taken a wrong turn...
            </p>
            <a class="btn btn-info mt-3" href="{% url 'index' %}">
                <i class="mdi mdi-reply"></i> Return Home </a>
        </div>
    </div> <!-- end card-body-->
{% endblock %}

{% block under-card %}
{% endblock %}