{% extends "base-layer.html" %}
{% load static %}

{% block main %}
    <!-- ========== Left Sidebar Start ========== -->
    <div class="left-side-menu">

        <div class="slimscroll-menu">

            <!-- LOGO -->
            <a href="{% url 'index' %}" class="logo text-center mb-4">
                <span class="logo-lg mr-3 mt-1">
                    <img src="{% static 'htmlimg/logo.svg' %}" alt="" height="40">
                </span>

            </a>

            <!--- Sidemenu -->
            <ul class="metismenu side-nav">

                <li class="side-nav-title side-nav-item">Navigation</li>

                <li class="side-nav-item">
                    <a href="{% url 'index' %}" class="side-nav-link">
                        <i class="dripicons-meter"></i>
                        <span hidden class="badge badge-success float-right">7</span>
                        <span> Dashboard </span>
                    </a>
                </li>

                <li class="side-nav-item">
                    <a href="{% static '' %}" class="side-nav-link">
                        <i class="dripicons-archive"></i>
                        <span> 业务办理 </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="side-nav-second-level" aria-expanded="false">
                        <li>
                            <a href="#">设备建账</a>
                        </li>
                        <li>
                            <a href="#">设备报废</a>
                        </li>
                        <li>
                            <a href="#">设备报修</a>
                        </li>
                        <li>
                            <a href="#">设备变动</a>
                        </li>
                        <li>
                            <a href="#">设备借还</a>
                        </li>
                    </ul>

                </li>

                <li class="side-nav-item">
                    <a href="#" class="side-nav-link">
                        <i class="dripicons-folder-open"></i>
                        <span> 业务审批 </span>
                    </a>
                </li>

                <li class="side-nav-item">
                    <a href="{% static '' %}" class="side-nav-link">
                        <i class="dripicons-stack"></i>
                        <span> 设备报表 </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="side-nav-second-level" aria-expanded="false">
                        <li>
                            <a href="#">设备建账表</a>
                        </li>
                        <li>
                            <a href="#">设备报废表</a>
                        </li>
                        <li>
                            <a href="#">设备报修表</a>
                        </li>
                        <li>
                            <a href="#">设备借还表</a>
                        </li>
                    </ul>

                </li>

                <li class="side-nav-item">
                    <a href="{% static '' %}" class="side-nav-link">
                        <i class="dripicons-rocket"></i>
                        <span> 附加程序 </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="side-nav-second-level" aria-expanded="false">
                        <li>
                            <a href="{% url 'user:calendar' %}">Calendar</a>
                        </li>
                    </ul>
                </li>

                <li class="side-nav-item">
                    <a href="#" class="side-nav-link">
                        <i class="mdi mdi-settings-outline"></i>
                        <span> 系统管理 </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="side-nav-second-level" aria-expanded="false">
                        <li>
                            <a href="{% url 'user:index' %}">Users</a>
                        </li>
                        <li>
                            <a href="{% url 'user:groups' %}">Groups</a>
                        </li>
                    </ul>
                </li>
                <li class="side-nav-item">
                    <a href="#" class="side-nav-link">
                        <i class="mdi mdi-settings"></i>
                        <span> 设置 </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="side-nav-second-level" aria-expanded="false">
                        <li>
                            <a href="{% url 'user:profile' user.id %}">Profile</a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                        <li>
                            <a href="{% url 'user:recover-password' %}">Recover Password</a>
                        </li>
                        <li hidden>
                            <a href="#">Lock Screen</a>
                        </li>
                        <li hidden>
                            <a href="#">Confirm Mail</a>
                        </li>
                    </ul>
                </li>

                <li class="side-nav-item">
                    <a href="#" class="side-nav-link">
                        <i class="mdi mdi-account"></i>
                        <span> *Dev Kit </span>

                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="side-nav-second-level" aria-expanded="false">
                        <li>
                            <a href="#">Modals</a>
                        </li>
                        <li>
                            <a href="#">Notifications</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <!-- End Sidebar -->

            <div class="clearfix"></div>

        </div>
        <!-- Sidebar -left -->

    </div>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">
            <!-- Topbar Start -->
            <div class="navbar-custom">
                <ul class="list-unstyled topbar-right-menu float-right mb-0">

                    <li class="dropdown notification-list">
                        <a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href="#"
                           role="button" aria-haspopup="false" aria-expanded="false">
                            <i class="mdi mdi-bell noti-icon"></i>
                            <span class="badge badge-danger noti-icon-badge">4</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated dropdown-lg">

                            <!-- item-->
                            <div class="dropdown-item noti-title">
                                <h5 class="m-0">
                                            <span class="float-right">
                                                <a href="{% static '' %}" class="text-dark">
                                                    <small>Clear All</small>
                                                </a>
                                            </span>Notification
                                </h5>
                            </div>

                            <div class="slimscroll" style="max-height: 230px;">
                                <!-- item-->
                                <a href="{% static '' %}" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-primary">
                                        <i class="mdi mdi-comment-account-outline"></i>
                                    </div>
                                    <p class="notify-details">Caleb Flakelar commented on Admin
                                        <small class="text-muted">1 min ago</small>
                                    </p>
                                </a>

                                <!-- item-->
                                <a href="{% static '' %}" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-info">
                                        <i class="mdi mdi-account-plus"></i>
                                    </div>
                                    <p class="notify-details">New user registered.
                                        <small class="text-muted">5 hours ago</small>
                                    </p>
                                </a>

                                <!-- item-->
                                <a href="{% static '' %}" class="dropdown-item notify-item">
                                    <div class="notify-icon">
                                        <img src="{% static 'htmlimg/avatar-2.jpg' %}" class="img-fluid rounded-circle" alt=""/>
                                    </div>
                                    <p class="notify-details">Cristina Pride</p>
                                    <p class="text-muted mb-0 user-msg">
                                        <small>Hi, How are you? What about our next meeting</small>
                                    </p>
                                </a>

                                <!-- item-->
                                <a href="{% static '' %}" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-primary">
                                        <i class="mdi mdi-comment-account-outline"></i>
                                    </div>
                                    <p class="notify-details">Caleb Flakelar commented on Admin
                                        <small class="text-muted">4 days ago</small>
                                    </p>
                                </a>

                                <!-- item-->
                                <a href="{% static '' %}" class="dropdown-item notify-item">
                                    <div class="notify-icon">
                                        <img src="{% static 'htmlimg/avatar-3.jpg' %}" class="img-fluid rounded-circle" alt=""/>
                                    </div>
                                    <p class="notify-details">Karen Robinson</p>
                                    <p class="text-muted mb-0 user-msg">
                                        <small>Wow ! this admin looks good and awesome design</small>
                                    </p>
                                </a>

                                <!-- item-->
                                <a href="{% static '' %}" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-info">
                                        <i class="mdi mdi-heart"></i>
                                    </div>
                                    <p class="notify-details">Carlos Crouch liked
                                        <b>Admin</b>
                                        <small class="text-muted">13 days ago</small>
                                    </p>
                                </a>
                            </div>

                            <!-- All-->
                            <a href="{% static '' %}"
                               class="dropdown-item text-center text-primary notify-item notify-all">
                                View all
                                <i class="fi-arrow-right"></i>
                            </a>

                        </div>
                    </li>

                    <li class="dropdown notification-list">
                        <a href="#" class="nav-link right-bar-toggle mr-0">
                            <i class="mdi mdi-settings noti-icon"></i>
                        </a>
                    </li>


                    <li class="dropdown notification-list">
                        <a class="nav-link dropdown-toggle nav-user arrow-none mr-0" data-toggle="dropdown"
                           href="{% static '' %}" role="button" aria-haspopup="false"
                           aria-expanded="false">
                            <img src="/media/{{ user.image }}" alt="" class="rounded">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated profile-dropdown ">
                            <!-- item-->
                            <a href="{% url 'user:profile' user.id %}" class="dropdown-item notify-item">
                                <i class="mdi mdi-account-circle"></i>
                                <span>Account</span>
                            </a>

                            <!-- item-->
                            <a hidden href="{% static '' %}" class="dropdown-item notify-item">
                                <i class="mdi mdi-lifebuoy"></i>
                                <span>Support</span>
                            </a>

                            <!-- item-->
                            <a hidden href="{% static '' %}" class="dropdown-item notify-item">
                                <i class="mdi mdi-lock-outline"></i>
                                <span>Lock Screen</span>
                            </a>

                            <!-- item-->
                            <a href="{% url 'logout' %}" class="dropdown-item notify-item">
                                <i class="mdi mdi-logout"></i>
                                <span>Logout</span>
                            </a>

                        </div>
                    </li>

                </ul>
                <div class="app-search">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="mdi mdi-magnify"></span>
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
                <button class="button-menu-mobile open-left disable-btn">
                    <i class="mdi mdi-menu"></i>
                </button>
            </div>
            <!-- end Topbar -->

            {% block content %}

            {% endblock %}

        </div>
        <!-- content -->

        <!-- Footer Start -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        2020 © Arcadia EMS - 爽粉后援会
                    </div>
                    <div class="col-md-6">
                        <div class="text-md-right footer-links d-none d-sm-block">
                            <a href="{% url 'maintained' %}">About</a>
                            <a href="https://github.com/biopuppet">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end Footer -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


    <!-- Right Sidebar -->
    <div class="right-bar">

        <div class="rightbar-title">
            <a href="#" class="right-bar-toggle float-right">
                <i class="dripicons-cross noti-icon"></i>
            </a>
            <h5 class="m-0">Settings</h5>
        </div>

        <div class="slimscroll-menu">

            <!-- Settings -->
            <hr class="mt-0"/>
            <h5 class="pl-3">Basic Settings</h5>
            <hr class="mb-0"/>

            <div class="p-3">
                <div class="custom-control custom-checkbox mb-2">
                    <input type="checkbox" class="custom-control-input" id="notifications-check" checked>
                    <label class="custom-control-label" for="notifications-check">Notifications</label>
                </div>

                <div class="custom-control custom-checkbox mb-2">
                    <input type="checkbox" class="custom-control-input" id="api-access-check">
                    <label class="custom-control-label" for="api-access-check">API Access</label>
                </div>

            </div>


            <!-- Timeline -->
            <hr class="mt-0"/>
            <h5 class="pl-3">Recent Activity</h5>
            <hr class="mb-0"/>
            <div class="pl-2 pr-2">
                <div class="timeline-alt">
                    <div class="timeline-item">
                        <i class="mdi mdi-upload bg-info-lighten text-info timeline-icon"></i>
                        <div class="timeline-item-info">
                            <a href="{% static '' %}" class="text-info font-weight-bold mb-1 d-block">You sold an
                                item</a>
                            <small>Paul Burgess just purchased “Arcadia - Admin Dashboard”!</small>
                            <p>
                                <small class="text-muted">5 minutes ago</small>
                            </p>
                        </div>
                    </div>

                    <div class="timeline-item">
                        <i class="mdi mdi-airplane bg-primary-lighten text-primary timeline-icon"></i>
                        <div class="timeline-item-info">
                            <a href="{% static '' %}" class="text-primary font-weight-bold mb-1 d-block">Product on the
                                Bootstrap Market</a>
                            <small>Dave Gamache added
                                <span class="font-weight-bold">Admin Dashboard</span>
                            </small>
                            <p>
                                <small class="text-muted">30 minutes ago</small>
                            </p>
                        </div>
                    </div>

                    <div class="timeline-item">
                        <i class="mdi mdi-microphone bg-info-lighten text-info timeline-icon"></i>
                        <div class="timeline-item-info">
                            <a href="{% static '' %}" class="text-info font-weight-bold mb-1 d-block">Robert Delaney</a>
                            <small>Send you message
                                <span class="font-weight-bold">"Are you there?"</span>
                            </small>
                            <p>
                                <small class="text-muted">2 hours ago</small>
                            </p>
                        </div>
                    </div>

                    <div class="timeline-item">
                        <i class="mdi mdi-upload bg-primary-lighten text-primary timeline-icon"></i>
                        <div class="timeline-item-info">
                            <a href="{% static '' %}" class="text-primary font-weight-bold mb-1 d-block">Audrey
                                Tobey</a>
                            <small>Uploaded a photo
                                <span class="font-weight-bold">"Error.jpg"</span>
                            </small>
                            <p>
                                <small class="text-muted">14 hours ago</small>
                            </p>
                        </div>
                    </div>

                    <div class="timeline-item">
                        <i class="mdi mdi-upload bg-info-lighten text-info timeline-icon"></i>
                        <div class="timeline-item-info">
                            <a href="{% static '' %}" class="text-info font-weight-bold mb-1 d-block">You sold an
                                item</a>
                            <small>Paul Burgess just purchased “Arcadia - Admin Dashboard”!</small>
                            <p>
                                <small class="text-muted">1 day ago</small>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- /Right-bar -->
{% endblock %}
