{% extends "base-layer.html" %}
{% load static %}

{% block main %}
    {% include 'base-left-sidebar.html' %}

    <!-- Start Page Content here -->
    <div class="content-page">
        <div class="content">
            {% include 'base-top-sidebar.html' %}
            {% block content %}
            {% endblock %}
        </div><!-- content -->
        {% include 'module-footer-contact.html' %}
    </div>
    <!-- End Page content -->

{#    {% include 'base-right-sidebar.html' %}#}
{% endblock %}