{% load static %}

<!-- {{ id }} content -->
<div id="{{ id }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="{{ id }}-label">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            {% block header %}
                <div class="modal-header">
                    <div class="text-center ml-auto">
                        <img src="{% static 'htmlimg/logo-dark.svg' %}" alt="" height="50">
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
            {% endblock %}

            {% block body %}
            {% endblock %}
        </div>
    </div>
</div>
<!-- /.modal content -->
<!-- {{ id }} script -->
{% block js %}
{% endblock %}
<!-- /.modal script -->