{% load static %}

<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">

    <div class="slimscroll-menu">
        <!-- LOGO -->
        <a href="{% url 'index' %}" class="logo text-center mb-4">
                <span class="logo-lg mr-3 mt-1">
                    <img src="{% static 'htmlimg/logo.svg' %}" alt="" height="40">
                </span>
        </a>

        <!--- Sidemenu -->
        <ul class="metismenu side-nav">
            <li class="side-nav-title side-nav-item">Navigation</li>
            <li class="side-nav-item">
                <a href="{% url 'index' %}" class="side-nav-link">
                    <i class="dripicons-meter"></i>
                    <span hidden class="badge badge-success float-right">7</span>
                    <span> Dashboard </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="{% url 'asset:index' %}" class="side-nav-link">
                    <i class="dripicons-device-desktop"></i>
                    <span> 设备台账 </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="#" class="side-nav-link">
                    <i class="dripicons-archive"></i>
                    <span> 业务办理 </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="false">
                    <li>
                        <a href="{% url 'asset:create' %}">设备建账</a>
                    </li>
                    <li>
                        <a href="#">设备报废</a>
                    </li>
                    <li>
                        <a href="#">设备报修</a>
                    </li>
                    <li>
                        <a href="#">设备变动</a>
                    </li>
                    <li>
                        <a href="#">设备借还</a>
                    </li>
                </ul>

            </li>

            <li class="side-nav-item">
                <a href="#" class="side-nav-link">
                    <i class="dripicons-folder-open"></i>
                    <span> 业务审批 </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="#" class="side-nav-link">
                    <i class="dripicons-checklist"></i>
                    <span> 设备报表 </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="false">
                    <li>
                        <a href="#">设备建账表</a>
                    </li>
                    <li>
                        <a href="#">设备报废表</a>
                    </li>
                    <li>
                        <a href="#">设备报修表</a>
                    </li>
                    <li>
                        <a href="#">设备借还表</a>
                    </li>
                </ul>

            </li>

            <li class="side-nav-item">
                <a href="#" class="side-nav-link">
                    <i class="dripicons-rocket"></i>
                    <span> 附加程序 </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="false">
                    <li>
                        <a href="{% url 'user:calendar' %}">日程表</a>
                    </li>
                </ul>
            </li>

            <li class="side-nav-item">
                <a href="#" class="side-nav-link">
                    <i class="mdi mdi-settings-outline"></i>
                    <span> 系统管理 </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="false">
                    <li>
                        <a href="{% url 'user:index' %}">用户管理</a>
                    </li>
                    <li>
                        <a href="{% url 'user:groups' %}">角色组管理</a>
                    </li>
                    <li>
                        <a href="{% url 'department:index' %}">部门管理</a>
                    </li>
                </ul>
            </li>
            <li class="side-nav-item">
                <a href="#" class="side-nav-link">
                    <i class="mdi mdi-settings"></i>
                    <span> 设置 </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="false">
                    <li>
                        <a href="{% url 'user:profile' user.id %}">我的账号</a>
                    </li>
                    <li hidden>
                        <a href="#">Lock Screen</a>
                    </li>
                    <li hidden>
                        <a href="#">Confirm Mail</a>
                    </li>
                </ul>
            </li>

            <li class="side-nav-item">
                <a href="#" class="side-nav-link">
                    <i class="mdi mdi-account"></i>
                    <span> *Dev Kit </span>

                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="false">
                    <li>
                        <a href="#">Modals</a>
                    </li>
                    <li>
                        <a href="#">Notifications</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- End Sidebar -->
        <div class="clearfix"></div>
    </div>
    <!-- Sidebar -left -->
</div>
<!-- Left Sidebar End -->

