{% extends 'base-sidebar.html' %}
{% load static %}
{% block content %}
    <div class="mt-5 mb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">

                    <div class="text-center">
                        <img src="{% static 'htmlimg/maintenance.svg' %}" height="140" alt="">
                        <h3 class="mt-4">This page is under <strong>Maintenance</strong></h3>
                        <p class="text-muted">Sorry, we'll be back shortly.</p>

                        <div class="row mt-5">
                            <div class="col-md-4">
                                <div class="text-center mt-3 pl-1 pr-1">
                                    <i class="dripicons-jewel bg-primary maintenance-icon text-white mb-2"></i>
                                    <h5 class="text-uppercase">Why is the page down?</h5>
                                    <p class="text-muted">
                                        Under development, fatal bug, ...
                                    </p>
                                </div>
                            </div> <!-- end col-->
                            <div class="col-md-4">
                                <div class="text-center mt-3 pl-1 pr-1">
                                    <i class="dripicons-clock bg-primary maintenance-icon text-white mb-2"></i>
                                    <h5 class="text-uppercase">What is the Downtime?</h5>
                                    <p class="text-muted">别问，问就是在写了（</p>
                                    <a href="https://devcloud.huaweicloud.com/codehub/project/6784eb1f60f94d26a7cecc7868cab109/codehub/660645/chart">
                                        追踪进度（
                                    </a>
                                </div>
                            </div> <!-- end col-->
                            <div class="col-md-4">
                                <div class="text-center mt-3 pl-1 pr-1">
                                    <i class="dripicons-question bg-primary maintenance-icon text-white mb-2"></i>
                                    <h5 class="text-uppercase">Do you need Support?</h5>
                                    <p class="text-muted">Please contact <a href="https://github.com/biopuppet/"
                                                                            class="text-muted font-weight-bold">biopuppet</a>
                                    </p>
                                </div>
                            </div> <!-- end col-->
                        </div> <!-- end row-->
                    </div> <!-- end /.text-center-->

                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>
    </div>
    <!-- end page -->
{% endblock %}
