<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                2020 © Arcadia EMS - 爽粉后援会
            </div>
            <div class="col-md-6">
                <div class="text-md-right footer-links d-none d-sm-block">
                    <a href="{% url 'maintained' %}">About</a>
                    <a href="https://github.com/biopuppet">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</footer>