{% extends "base-page-card.html" %}
{% load static %}

{% block card-body %}
    <div class="card-body p-4">
        <div class="text-center w-80 m-auto">
            <h4 class="text-dark-50 text-center mt-0 font-weight-bold">Sign In</h4>
            <p class="text-muted mb-4">Enter your username and password to sign in.</p>
        </div>

        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group mb-3">
                <label for="username">Username</label>
                <input name="username" class="form-control" id="username"
                       required="" placeholder="Enter your username">
            </div>

            <div class="form-group mb-3">
                <a href="{% url 'user:recover-password' %}" class="text-muted float-right"><small>Forgot your
                    password?</small></a>
                <label for="password">Password</label>
                <input name="password" class="form-control" type="password" required=""
                       id="password" placeholder="Enter your password">
            </div>

            {% if msg %}
                <p class="alert alert-warning">{{ msg }}</p>
            {% endif %}

            <div class="form-group mb-0 text-center">
                <button class="btn btn-primary" type="submit"> Sign In</button>
            </div>
        </form>
    </div> <!-- end card-body -->
{% endblock %}

{% block under-card %}
{% endblock %}