{% extends "base-sidebar.html" %}
{% load static %}

{% block css %}
    <!-- third party css -->
    <link href="{% static 'css/dataTables.bootstrap4.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/responsive.bootstrap4.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/buttons.bootstrap4.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/select.bootstrap4.css' %}" rel="stylesheet" type="text/css"/>
    <!-- third party css end -->
{% endblock %}

{% block content %}
    <!-- Start Content-->
    <div class="container-fluid">
        {% include 'base-page-title.html' with title_name='Groups' %}

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <a href="{% url 'user:create-group' %}" type="button" class="btn btn-primary mb-3">
                            <i class="mdi mdi-account-multiple-plus-outline mr-1"></i> New Group
                        </a>
                        <table id="basic-datatable" class="table table-striped dt-responsive nowrap">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Permissions</th>
                                <th class="sorting_desc_disabled sorting_asc_disabled">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for group in groups %}
                                <tr>
                                    <td>{{ group.id }}</td>
                                    <td>{{ group.name }}</td>
                                    <td>{{ group.permissions }}</td>
                                    <td class="table-action">
                                        <a href="{% url 'user:change-group' group.id %}" class="action-icon">
                                            <i class="mdi mdi-pencil"></i></a>
                                        <a href="{% url 'user:delete-group' group.id %}" class="action-icon">
                                            <i class="mdi mdi-delete"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div> <!-- end card body-->
                </div> <!-- end card -->
            </div><!-- end col-->
        </div>
        <!-- end row-->
    </div> <!-- container -->
{% endblock %}


{% block js-footer %}
    <!-- third party js -->
    <script src="{% static 'javascript/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'javascript/dataTables.bootstrap4.js' %}"></script>
    <script src="{% static 'javascript/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'javascript/responsive.bootstrap4.min.js' %}"></script>
    <!-- third party js ends -->
    
    <!-- demo app -->
    <script src="{% static 'javascript/demo.datatable-init2.js' %}"></script>
    <!-- end demo js-->
{% endblock %}