{% extends "base-sidebar.html" %}
{% load static %}

{% block css %}
    <!-- third party css -->
    <link href="{% static 'css/dataTables.bootstrap4.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/responsive.bootstrap4.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/buttons.bootstrap4.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/select.bootstrap4.css' %}" rel="stylesheet" type="text/css"/>
    <!-- third party css end -->
{% endblock %}

{% block content %}
    <!-- Start Content-->
    <div class="container-fluid">
        {% include 'base-page-title.html' with title_name='Groups' %}

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <button type="button" class="btn btn-primary mb-3">
                            <i class="mdi mdi-account-multiple-plus-outline mr-1"></i> New Group
                        </button>
                        <table id="basic-datatable" class="table table-striped dt-responsive nowrap">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Permissions</th>
                                <th class="sorting_desc_disabled sorting_asc_disabled">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for group in groups %}
                                <tr>
                                    <td>{{ group.id }}</td>
                                    <td>{{ group.name }}</td>
                                    <td>{{ group.permissions }}</td>
                                    <td class="table-action">
                                        <a href="" class="action-icon"> <i class="mdi mdi-pencil"></i></a>
                                        <a href="" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                        <a class="action-icon " href="#"
                                           id="dropdownMenuLink" data-toggle="dropdown"><i class="mdi mdi-pencil"></i>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="">
                                            <a href="{% url 'user:toggle-user-status' user.id %}"
                                               class="dropdown-item">Toggle status</a>
                                            <a href="{% url 'user:delete-user' user.id %}"
                                               class="dropdown-item">Delete</a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div> <!-- end card body-->
                </div> <!-- end card -->
            </div><!-- end col-->
        </div>
        <!-- end row-->
    </div> <!-- container -->
{% endblock %}


{% block js-footer %}

    {#    <script type="javascript">#}
    {#        let oDataTable = $('#basic-datatable').DataTable();#}
    {#    </script>#}

    <script type="javascript">
        $(document).ready(function () {
            $("#btn-create-group").click(function () {
                console.log('submit create form')
                let form = $("#form-create-group");
                let data = form.serialize();
                $.ajax({
                    type: form.attr('method'),
                    url: "{% url 'user:create-group' %}",
                    data: data,
                    cache: false,
                    async: false,
                    success: function (msg) {
                        if (msg.status === 'success') {
                            alert('Successfully created user!');
                        } else if (msg.status === 'fail') {
                            alert('failed');
                        }
                    },
                    //end: function () {oDataTable.ajax.reload();}
                });
            });
        });
    </script>


    <!-- third party js -->
    <script src="{% static 'javascript/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'javascript/dataTables.bootstrap4.js' %}"></script>
    <script src="{% static 'javascript/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'javascript/responsive.bootstrap4.min.js' %}"></script>
    <script src="{% static 'javascript/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'javascript/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'javascript/buttons.html5.min.js' %}"></script>
    <script src="{% static 'javascript/buttons.flash.min.js' %}"></script>
    <script src="{% static 'javascript/buttons.print.min.js' %}"></script>
    <script src="{% static 'javascript/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'javascript/dataTables.select.min.js' %}"></script>
    <!-- third party js ends -->

    <!-- demo app -->
    <script src="{% static 'javascript/demo.datatable-init2.js' %}"></script>
    <!-- end demo js-->

{% endblock %}