{% extends "base-sidebar.html" %}
{% load static %}

{% block css %}
    <!-- third party css -->
    <link href="{% static 'css/dataTables.bootstrap4.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/responsive.bootstrap4.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/buttons.bootstrap4.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/select.bootstrap4.css' %}" rel="stylesheet" type="text/css"/>
    <!-- third party css end -->
{% endblock %}

{% block content %}
    <!-- Start Content-->
    <div class="container-fluid">
        {% include 'base-page-title.html' with title_name='Users' %}
        {% include 'user/modal-create-user.html' with id='modal-create-user' %}

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <button type="button" class="btn btn-primary mb-3" data-toggle="modal"
                                data-target="#modal-create-user">
                            <i class="mdi mdi-plus-circle"></i> New User
                        </button>
                        <p class="text-muted font-14 mb-4" hidden>
                            DataTables has most features enabled by default, so all you need to do to use it with your
                            own tables is to call the construction function:<code>$().DataTable();</code>.
                            KeyTable provides Excel like cell navigation on any table. Events (focus, blur, action etc)
                            can be assigned to individual cells, columns, rows or all cells.
                        </p>

                        <table id="basic-datatable"
                               class="table table-striped dt-responsive nowrap">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Username</th>
                                <th>Full Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Last Login</th>
                                <th>Activated</th>
                                <th>Action</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>{{ user.id }}</td>
                                    <td class="table-user">
                                        <img src="/media/{{ user.image }}" alt="table-user" class="mr-2 rounded-circle">
                                        {{ user.username }}
                                    </td>
                                    <td>{{ user.fullname }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.phone }}</td>
                                    <td>{{ user.last_login }}</td>
                                    <td>
                                        {{ user.is_active }}
                                        {#                                        <div>#}
                                        {#                                            <input type="checkbox" id="switch{{ user.id }}" checked="" data-switch="fail">#}
                                        {#                                            <label for="switch{{ user.id }}" data-on-label="On" data-off-label="Off"#}
                                        {#                                                   class="mb-0 d-block"></label>#}
                                        {#                                        </div>#}
                                    </td>

                                    <td class="table-action">
                                        <div class="dropdown">

                                            <a href="{% url 'user:profile' user.id %}" class="action-icon">
                                                <i class="mdi mdi-eye"></i></a>

                                            <a class="action-icon dropdown-toggle" href="#"
                                               id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                               aria-expanded="false">
                                            </a>

                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="">
                                                <a href="{% url 'user:toggle-user-status' user.id %}"
                                                   class="dropdown-item">Toggle status</a>
                                                {#                                                <a href="{% url 'user:delete-user' user.id %}"#}
                                                {#                                                   class="dropdown-item">Delete</a>#}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div> <!-- end card -->
            </div><!-- end col-->
        </div>
        <!-- end row-->
    </div> <!-- container -->
{% endblock %}

{% block js-footer %}
    <!-- third party js -->
    <script src="{% static 'javascript/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'javascript/dataTables.bootstrap4.js' %}"></script>
    <script src="{% static 'javascript/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'javascript/responsive.bootstrap4.min.js' %}"></script>
    <script src="{% static 'javascript/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'javascript/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'javascript/buttons.html5.min.js' %}"></script>
    <script src="{% static 'javascript/buttons.flash.min.js' %}"></script>
    <script src="{% static 'javascript/buttons.print.min.js' %}"></script>
    <script src="{% static 'javascript/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'javascript/dataTables.select.min.js' %}"></script>
    <!-- third party js ends -->

    <!-- demo app -->
    <script src="{% static 'javascript/demo.datatable-init2.js' %}"></script>
    <!-- end demo js-->
{% endblock %}