{% extends 'base-sidebar.html' %}
{% load static %}

{% block css %}
    <!-- third party css -->
    <link href="{% static 'css/dataTables.bootstrap4.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/responsive.bootstrap4.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/buttons.bootstrap4.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/select.bootstrap4.css' %}" rel="stylesheet" type="text/css"/>
    <!-- third party css end -->
{% endblock %}

{% block content %}
    <!-- Start Content-->
    <div class="container-fluid">
        {% include 'base-page-title.html' with title_name='Users' %}
        {% include 'user/modal-create-user.html' with id='modal-create-user' %}
        {% include 'user/modal-update-user.html' with id='modal-update-user' %}

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <div class="row mb-2">
                            <div class="col-sm-4">
                                <button type="button" class="btn btn-primary mb-3" data-toggle="modal"
                                        data-target="#modal-create-user">
                                    <i class="mdi mdi-account-plus mr-1"></i> New User
                                </button>
                            </div>
                            <div class="col-sm-8">
                                <div class="text-sm-right">
                                    <button disabled type="button" class="btn btn-danger mb-3 mr-1">
                                        Import
                                    </button>
                                    <button disabled type="button" class="btn btn-warning mb-3 mr-1">
                                        Export
                                    </button>
                                    <button id="toastr-users-reload" type="button" class="btn btn-info mb-3">
                                        <i class="mdi mdi-refresh"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <table id="datatable-users" class="nowrap table table-striped"></table>

                    </div>
                </div> <!-- end card -->
            </div><!-- end col-->
        </div>
        <!-- end row-->
    </div> <!-- container -->
{% endblock %}

{% block javascripts %}
    <script src="{% static 'javascript/user.index.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // "use strict";
            initDatatable("#datatable-users", "{% url 'user:index' %}");
        });
    </script>
{% endblock %}

{% block js-footer %}
    <!-- third party js -->
    <script src="{% static 'javascript/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'javascript/dataTables.bootstrap4.js' %}"></script>
    <script src="{% static 'javascript/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'javascript/responsive.bootstrap4.min.js' %}"></script>
    <!-- third party js ends -->
    <!-- demo app -->
    {#    <script src="{% static 'javascript/demo.datatable-init2.js' %}"></script>#}
    <!-- end demo js-->
    <script type="text/javascript">
        !function (t) {
            "use strict";
            t("#toastr-users-reload").on("click", function (i) {
                dt_reload("#datatable-users", true);
                t.NotificationApp.send(
                    "Success", "User table reloaded!",
                    "top-right", "rgba(0,0,0,0.2)", "success", 2e3)
            })
        }(window.jQuery);

        // send user id to user update form in modal
        function send_update_user_id(e) {
            $.ajax({
                url: '{% url 'user:update-user' %}',
                type: 'GET',
                data: {'user_id': e},
                cache: false,
                async: true,
                success: function (msg) {
                    if (msg.status === 'success') {
                        {% for item in user_update_form %}
                            $('#{{ item.id_for_label }}').val(msg['data']['{{ item.name }}']);
                        {% endfor %}
                        $('#{{user_update_form.id.id_for_label}}').val(e);
                    } else {
                        console.log(msg.errors);
                    }
                },
                complete: function (XMLHttpRequest) {
                }
            });
        }
    </script>
{% endblock %}