{% extends 'base-modal.html' %}
{% load static %}

{% block body %}
    <div class="modal-body">
        <form id="form-update-user" onsubmit="return false" action="" method="post" class="pl-3 pr-3">
            {% csrf_token %}
            {{ user_update_form.non_field_errors }}
            <input type="hidden" name="{{ user_update_form.id.name }}" id="{{ user_update_form.id.id_for_label }}"
                   value="">
            <div class="form-row">
                <div class="col-6 mb-3">
                    {{ user_update_form.username.label_tag }}
                    {{ user_update_form.username.errors }}
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">@</span>
                        </div>
                        {{ user_update_form.username }}
                    </div>
                </div>
                <div class="col-6 mb-3">
                    {{ user_update_form.fullname.label_tag | capfirst }}
                    {{ user_update_form.fullname }}
                    {{ user_update_form.fullname.errors }}
                </div>
            </div>

            {% for item in user_update_form %}
                {% if not item.name == "username" and not item.name == "fullname" and not item.is_hidden %}
                    <div class="form-group mb-3">
                        {{ item.label_tag | capfirst }}
                        {{ item }}
                        {{ item.errors }}
                    </div>
                {% endif %}
            {% endfor %}
            <div id="{{ id }}-error-msg"></div>
            <div class="form-group text-center button-list">
                <button class="btn btn-danger ml-auto" data-dismiss="modal">Cancel
                </button>
                <button id="{{ id }}-btn-update-user" class="btn btn-primary">Update User
                </button>
            </div>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(function () {
            $('#{{ id }}').on("hide.bs.modal", function (e) {
                $('#{{ id }}-error-msg').removeClass('alert alert-warning');
                $('#{{ id }}-error-msg').html("");
            });
        });
        $(document).ready(function () {
            $('#{{ user_update_form.groups.id_for_label }}').select2({
                tags: true,
            });

            $('#form-update-user').submit(function () {
                $.ajax({
                    url: '{% url 'user:update-user' %}',
                    type: 'POST',
                    data: $("#form-update-user").serialize(),
                    cache: false,
                    async: true,
                    success: function (msg) {
                        if (msg.status === 'success') {
                            $('#{{ id }}').modal('hide');
                            dt_reload($("#datatable-users"));
                        } else {
                            console.log(msg.errors);
                            $('#{{ id }}-error-msg').html(msg.errors);
                            $('#{{ id }}-error-msg').addClass('alert alert-warning');
                        }
                    },
                    complete: function (XMLHttpRequest) {
                    }
                });
                return false; // !important! or the form will be posted twice
            });
        });
    </script>

{% endblock %}
