{% extends 'base-modal.html' %}
{% load static %}

{% block body %}
    <div class="modal-body">
        <form id="form-update-user" onsubmit="return false" action="" method="post" class="pl-3 pr-3">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-row">
                <div class="col-6 mb-3">
                    {{ form.username.label_tag }}
                    {{ form.username.errors }}
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">@</span>
                        </div>
                        {{ form.username }}
                    </div>
                </div>
                <div class="col-6 mb-3">
                    {{ form.fullname.label_tag | capfirst }}
                    {{ form.fullname }}
                    {{ form.fullname.errors }}
                    <div class="invalid-feedback">
                        Please enter a valid {{ form.fullname.label | capfirst }}.
                    </div>
                </div>
            </div>

            {% for item in form %}
                {% if not item.name == "username" and not item.name == "fullname" %}
                    <div class="form-group mb-3">
                        {{ item.label_tag | capfirst }}
                        {{ item }}
                        {{ item.errors }}
                        <div class="invalid-feedback">
                            Please enter a valid {{ item.label | capfirst }}.
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div id="{{ id }}-error-msg" ></div>
            <div class="form-group text-center button-list">
                <button class="btn btn-danger ml-auto" data-dismiss="modal">Cancel
                </button>
                <button id="{{ id }}-btn-update-user" class="btn btn-primary">Update User
                </button>
            </div>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'javascript/jquery-3.5.0.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#form-update-user').submit(function () {
                $.ajax({
                    url: '{% url 'user:update-user' user.id %}',
                    type: 'POST',
                    data: $("#form-update-user").serialize(),
                    cache: false,
                    async: true,
                    success: function (msg) {
                        console.log(msg);
                        if (msg.status === 'success') {
                            $('#{{ id }}').modal('hide');
                            parent.location.reload();
                        } else {
                            console.log(msg.errors);
                            $('#{{ id }}-error-msg').html(msg.errors);
                            $('#{{ id }}-error-msg').addClass('alert alert-warning');
                        }
                    },
                    complete: function (XMLHttpRequest) {
                    }
                });
                return false; // !important! or the form will be posted twice
            });
        });
    </script>
{% endblock %}
