{% extends "base-sidebar.html" %}
{% load static %}

{% block content %}
    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">Arcadia</a></li>
                            <li class="breadcrumb-item active">Profile</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Profile</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-sm-12">
                <!-- Profile -->
                <div class="card bg-primary">
                    <div class="card-body profile-user-box">
                        <div class="row">
                            <div class="col-sm-6">
                                <span class="float-left m-2 mr-4"><img src="/media/{{ user.image }}"
                                                                       style="height: 100px;" alt=""
                                                                       class="rounded-circle img-thumbnail"></span>
                                <div class="media-body">
                                    <h4 class="mt-1 mb-1 text-white">{{ user.fullname }}</h4>
                                    <p class="font-13 text-white-50">@{{ user.username }}</p>
                                </div> <!-- end media-body-->
                                <ul class="mb-0 text-light">
                                    <li class="mr-3">
                                        <h5 class="mb-1">{{ user.email }}</h5>
                                    </li>
                                    <li class="">
                                        <h5 class="mb-1">{{ user.phone }}</h5>
                                    </li>
                                </ul>
                            </div> <!-- end col-->
                            <!-- Change password modal content -->
                            <div id="change-password-modal" class="modal fade" tabindex="-1" role="dialog"
                                 aria-hidden="true"
                                 style="display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <div class="text-center mt-2 mb-4">
                                                <a href="" class="text-success">
                                                    <span><img src="{% static 'htmlimg/logo-dark.svg' %}" alt=""
                                                               height="50"></span>
                                                </a>
                                            </div>

                                            <form id="form-change-password" class="pl-3 pr-3"
                                                  action="{% url 'user:change-password' user.id %}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name='id' value="{{ user.id }}"/>
                                                <div class="form-group">
                                                    <label>Current Password</label>
                                                    <input name="current_password" class="form-control" type="password"
                                                           required="" minlength="6" maxlength="20"
                                                           placeholder="Current Password">
                                                </div>
                                                <div class="form-group">
                                                    <label>New Password</label>
                                                    <input name="new_password" class="form-control" type="password"
                                                           required="" minlength="6" maxlength="20"
                                                           placeholder="New Password">
                                                </div>
                                                <div class="form-group">
                                                    <label>New Password (again)</label>
                                                    <input name="confirm_password" class="form-control" type="password"
                                                           required="" minlength="6" maxlength="20"
                                                           placeholder="New Password (again)">
                                                </div>
                                                <div class="form-group text-center">
                                                    <button class="btn btn-info mr-3" data-dismiss="modal">Cancel
                                                    </button>
                                                    <button id="btn-change-password" class="btn btn-danger"
                                                            type="submit">Confirm
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div>
                            <!-- /.modal -->
                            <div class="col-sm-6 text-right">
                                <button type="button" class="btn btn-danger" data-toggle="modal"
                                        data-target="#change-password-modal">Change Password
                                </button>
                            </div>
                        </div> <!-- end row -->
                    </div> <!-- end card-body/ profile-user-box-->
                </div><!--end profile/ card -->
            </div> <!-- end col-->
        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title mb-3">Basic Profile</h4>

                        <form action="{% url 'user:update-user' user.id %}" method="post" class="needs-validation"
                              novalidate>
                            {% csrf_token %}

                            <div class="form-group mb-3">
                                <label for="validationCustom01">Full Name</label>
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <input name="fullname" type="text" class="form-control" id="validationCustom01"
                                       placeholder="Full Name"
                                       value="{{ user.fullname }}">
                                <div hidden class="invalid-tooltip">
                                    Please enter Full name.
                                </div>
                            </div>

                            <div class="form-group mb-3">
                                <label for="validationCustomUsername">Username</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                                    </div>
                                    <input name="username" type="text" class="form-control"
                                           id="validationCustomUsername"
                                           placeholder="Username" aria-describedby="inputGroupPrepend"
                                           value="{{ user.username }}">
                                    <div class="invalid-feedback">
                                        Please enter a valid username.
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mb-3">
                                <label>Phone</label>
                                <input name="phone" type="tel" class="form-control"
                                        value="{{ user.phone }}" minlength="11" maxlength="13">
                                <span class="font-13 text-muted">e.g "xxx-xxxx-xxxx"</span>
                                <div class="invalid-feedback">
                                    Please enter a valid phone number.
                                </div>
                            </div>

                            <div class="form-group mb-3">
                                <label for="validationCustom03">Email</label>
                                <input type="email" class="form-control" id="validationCustom03" placeholder="Email"
                                       value="{{ user.email }}" readonly>
                            </div>

                            <button class="btn btn-primary" type="submit">Update Profile</button>
                        </form>

                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col-->
        </div>
        <!-- end row -->
    </div> <!-- container -->
{% endblock %}


{% block javascripts %}
    <!-- demo app -->
    <script src="{% static 'javascript/demo.profile.js' %}"></script>
    <!-- end demo js-->

    <script type="text/javascript">
        $(document).ready(function () {
            $(document).keydown(function (event) {
                if (event.keyCode === 13) {
                    $("*").each(function () {
                        event.preventDefault();
                    });
                }
            });
            $("#btn-change-password").click(function (message) {
                const form = $("#form-change-password");
                var data = form.serialize();
                $.ajax({
                    type: 'POST',
                    url: "{% url 'user:change-password' user.id %}",
                    data: data,
                    async: false,
                    cache: false,
                    success: function (msg) {
                        if (msg.status === 'success') {
                            console.log('Success');
                        } else if (msg.status === 'fail') {
                            alert(msg.password_change_form_errors);
                            //$('errorMessage').html(msg.message)
                        }
                    },
                    end: function () {
                        console.log('end');
                    }
                });
            });
        });
    </script>
{% endblock %}