{% extends 'base-page-card.html' %}
{% load static %}

{% block card-body %}
    <div class="card-body p-4">
        <div class="text-center w-75 m-auto">
            <h4 class="text-dark-50 text-center mt-0 font-weight-bold">Reset Password</h4>
            <p class="text-muted mb-4">Enter your email address and we'll send you an email with
                instructions to reset your password.</p>
        </div>
        {% if sent %}
            <h5 class="text-dark-50 text-center mt-0 font-weight-bold">
                We've sent you an email. Go check it out!
            </h5>
        {% else %}
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group mb-3">
                    <label>Email address</label>
                    <input name="email" class="form-control" type="email" required=""
                           placeholder="Enter your email">
                </div>
                {% if error_msg %}
                    <p class="alert alert-warning">{{ error_msg }}</p>
                {% endif %}
                <div class="form-group mb-0 text-center">
                    <button class="btn btn-primary" type="submit">Reset Password</button>
                </div>
            </form>
        {% endif %}
    </div> <!-- end card-body-->
{% endblock %}
